<%- include ./header %>
    <style>

        #content {
            /* min-width: 20em;
            min-height: 1.4em;
            max-width: 40em;
            max-height: 10em; */
            width: 40em;
            height: 30em;
            padding: 0.5em 0.5em 0 0.5em;
            background-color: white;
            font-size: large;
            text-align: left;
            border: 2px solid grey;
            border-radius: 5px;
            overflow-y: auto;
            margin: 1em 0;
        }

        #content:focus {
            border: 2px solid black;
            border-radius: 5px;
        }

        #content > * {
             /* padding: 0.35rem 0; */
             margin: 0.7rem 0;
        }


        #title {
            border: 2px solid grey;
            border-radius: 5px;
            width: 40em;
            padding: 0.5em 0.5em 0.5em 0.5em;
            font-size: large;
        }

        #title:focus {
            border: 2px solid black;
            border-radius: 5px;
        }

        .post-article {
            cursor: pointer;
            background-color: #77ba99;
            font-weight: 600;
            font-size: large;
            padding: 8px 16px;
            color: white;
            border: none;
            outline: none;
        }

        .post-article:focus, .post-article:hover, .post-article:active {
            background-color:  #659b80;
            border: none;
            outline: none;
        }

    </style>
    <div class="container">
        <form>
            <input type="text" name="title" id="title" placeholder="제목">
            <!-- <textarea rows="30" cols="100" name="contents" id="content"></textarea> -->
            <div name="contents" id="content" contenteditable="true">
                <% if (!post.contents) { %>
                    <p><br></p>
                <% } else { %>
                    <%- post.contents %>
                <% } %>
            </div>
            <!-- <input type="submit" value="제출" style="float: right;"> -->
        </form>
        <button type="button" class="post-article">글쓰기</button>
    </div>
<!-- <script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor 
        .create(document.querySelector('#content'))
        .then(editor=> {
            console.log(editor); 
        })
        .catch(error=> {
            console.error(error);
        });
</script> -->
<script>
    window.onload = () => {
        const content = document.querySelector('#content');
        const submitBtn = document.querySelector('.post-article');
        const title = document.querySelector('#title');
        const titleValue = `<%= post.title %>`
        // content.addEventListener('change', handleText);

        function showTitle() {
            if (titleValue) {
                title.value = titleValue;
            }
        }

        function submitArticle() {
            if(!confirm('글을 게시하시겠습니까?')) return;
            fetch('/board/<%= board.url %>/<%= post._id %>/edit', {
                method: 'POST',
                body: JSON.stringify({
                    title: document.querySelector('#title').value,
                    contents: document.querySelector('#content').innerHTML
                }),
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow'
                }
            )
            .then(blob => blob.json())
            .then(res => {
                if(res.success) {
                    window.location.href = '/board/<%= post._board.url %>/<%= post._id %>';
                }
            })
        }

        content.addEventListener('input', (e) => {
            console.log(e.target);
            if(!e.target.innerHTML) {
                content.innerHTML = '<p><br></p>';
            }
        });

        showTitle();
        submitBtn.addEventListener('click', (submitArticle));

    }
    
</script>
<%- include ./footer %>